org-roam.db
backups/
elpa/
eshell/
url/
bookmarks
racket-mode/

# auto save
auto-save-list/
.lsp-session-v1
smex-items
transient/
*recentf*
session*
ac-comphist.dat
tramp
projectile-bookmarks.eld
projectile.cache


